<link type="text/css" href='/styles/contact_form.css' rel='stylesheet'/>

<body style="background-color:#e1e9eb">
	<div id="div-center">
		<h1 class="div_center"> Web Form</h1>
		<form id="contact_form" action="/contact" method="POST" enctype="multipart/form-data">
			<div class="row div_center">
				<label class="lable_size" for="name">Your name:</label>
				<input id="name" class="input input_space" name="name" type="text" value="" size="30" />
			</div>
			<div class="row div_center">
				<label class="lable_size" for="email">Your email:</label>
				<input id="email" class="input input_space" name="email" type="text" value="" size="30" />
			</div>
			
			<div class="row div_center">
				<input id="submit_button" class="submit_button" type="submit" value="Send email" />
			</div>
		</form>
	</div>
</dody>

